<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Leonid Lunin</title>
        <link href="css/reset.css" rel="stylesheet" type="text/css"/>
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="background">
			<div class="form_wrapper">
					<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
						Fill in form <br>
							<label for="name">Name</label>
							<input type="text" th:field="*{name}" id="name" placeholder="Your name">
							<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							
							<label for="name">Age</label>
							<input type="text" th:field="*{age}" id="age" placeholder="Age">
							<span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
							
							<label for="name">Gender</label>
							<input type="radio" th:field="*{gander}" id="gender" value="male" required="required">Male    
							<input type="radio" th:field="*{gander}" id="gender" value="female">Female<br/>
							<span th:if="${#fields.hasErrors('gander')}" th:errors="*{gender}"></span>
							
							<label for="email">Email</label>
							<input type="text" th:field="*{email}" id="email" placeholder="Email">
							<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
							<input type="submit" value="Add User">   
					</form>
			</div>
		</div>
    <!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

    </body>
</html>
